In [10]:
import pymysql
import pandas

conn = pymysql.connect(
    host="localhost",
    port=int(3306),
    user="root",
    passwd="admin",
    db="ws",
    charset='utf8mb4')

def query(sql) :
    return pandas.read_sql_query(sql, conn)

df = query("SELECT * FROM user")
df.tail(10)

,id,uuid,name,publicKey,updatedAt,createdAt
0,62,de7e3b9e-0a92-4329-a286-214db79b10b1,Valery,0ceec055-4e25-45c7-ae58-5d869ac868e9,2019-07-14 18:26:44,2019-07-08 23:59:28
1,66,de7e3b9e-0a92-4329-a286-214db68b11b2,Ola,0ceec055-4e25-45c7-ae58-5d869ac777e7,2019-07-09 00:02:35,2019-07-08 23:59:28
2,84,415a54c0-f0ac-4d64-aa5f-e874c705f8ff,None,8bd9ba95-47ad-4df3-87a7-8394bb16350d,2019-07-12 23:06:19,2019-07-09 22:37:10
3,122,415a54c0-f0ac-4d64-aa5f-e874c705f8cc,bot,8bd9ba95-47ad-4df3-87a7-8394bb16222d,2019-07-11 20:46:55,2019-07-09 22:37:10
4,138,e2dc4204-0033-434d-bd62-70dc7b5c6f82,None,fb812315-facc-4f54-b247-123c10cd9f74,2019-07-14 17:54:20,2019-07-14 17:52:15

In [35]:
import lib.mysql as mysql

df = mysql.query("SELECT * FROM message")
df.tail(100)

    id                     text           createdAt           updatedAt
0    3              message - 1 2019-07-09 00:03:16 2019-07-09 00:03:16
1    4              message - 2 2019-07-09 00:03:16 2019-07-09 00:03:16
2    5              message - 3 2019-07-09 00:03:16 2019-07-09 00:03:16
3    6                    asdsd 2019-07-09 22:25:36 2019-07-09 22:25:36
4    7                 asdasdsa 2019-07-09 22:31:36 2019-07-09 22:31:36
5    8              saddddddddd 2019-07-09 22:34:52 2019-07-09 22:34:52
6    9  aaaaaaaaaaaaaaaaaaaaaaa 2019-07-09 22:35:14 2019-07-09 22:35:14
7   10            ddddddddddddd 2019-07-09 22:35:18 2019-07-09 22:35:18
8   11        aaaaaaaaaaaaaaaaa 2019-07-09 22:35:26 2019-07-09 22:35:26
9   12            sssssssssssss 2019-07-09 22:36:05 2019-07-09 22:36:05
10  13          ccccccccccccccc 2019-07-09 22:36:13 2019-07-09 22:36:13
11  14             ffffffffffff 2019-07-09 22:37:36 2019-07-09 22:37:36
12  15           ssssssssssssss 2019-07-09 22:37:40 2019-07-09 22:37:40
13  16                      asd 2019-07-09 22:39:41 2019-07-09 22:39:41
14  17              sssssssssss 2019-07-09 22:42:19 2019-07-09 22:42:19
15  18               dddddddddd 2019-07-09 22:42:27 2019-07-09 22:42:27
16  19                     asda 2019-07-09 22:43:21 2019-07-09 22:43:21
17  20                     dsfd 2019-07-10 23:44:37 2019-07-10 23:44:37
18  21                     asda 2019-07-10 23:44:40 2019-07-10 23:44:40
19  22                  asdsdas 2019-07-10 23:44:48 2019-07-10 23:44:48
20  23                    asdad 2019-07-10 23:44:51 2019-07-10 23:44:51
21  24                   asdasd 2019-07-10 23:45:22 2019-07-10 23:45:22
22  25                   asdasd 2019-07-10 23:45:31 2019-07-10 23:45:31
23  26                    asdsd 2019-07-10 23:45:39 2019-07-10 23:45:39
24  27                      sss 2019-07-10 23:50:11 2019-07-10 23:50:11
25  28                     dddd 2019-07-10 23:51:22 2019-07-10 23:51:22
26  29                sssssssss 2019-07-10 23:52:08 2019-07-10 23:52:08
27  30                        s 2019-07-10 23:54:03 2019-07-10 23:54:03
28  31                   ddaaaa 2019-07-10 23:54:29 2019-07-10 23:54:29
29  32                   ssssss 2019-07-10 23:55:43 2019-07-10 23:55:43
..  ..                      ...                 ...                 ...
52  55                ewrwerewr 2019-07-11 20:19:08 2019-07-11 20:19:08
53  56                 qwewqewe 2019-07-11 20:19:10 2019-07-11 20:19:10
54  57                    asdsd 2019-07-11 20:19:34 2019-07-11 20:19:34
55  58                 asdadasd 2019-07-11 20:19:43 2019-07-11 20:19:43
56  59                   asdasd 2019-07-11 20:37:06 2019-07-11 20:37:06
57  60                  ddddddd 2019-07-11 20:44:18 2019-07-11 20:44:18
58  61                      sss 2019-07-11 20:45:10 2019-07-11 20:45:10
59  62                   asdasd 2019-07-11 21:14:33 2019-07-11 21:14:33
60  63                    asdsa 2019-07-11 21:36:35 2019-07-11 21:36:35
61  64                    ddddd 2019-07-11 21:36:41 2019-07-11 21:36:41
62  65                   dddddd 2019-07-11 21:37:15 2019-07-11 21:37:15
63  66                    ddddd 2019-07-11 21:45:09 2019-07-11 21:45:09
64  67               dddddddddd 2019-07-11 21:47:36 2019-07-11 21:47:36
65  68                  aaaaaaa 2019-07-11 21:50:17 2019-07-11 21:50:17
66  69                     aaaa 2019-07-11 22:20:54 2019-07-11 22:20:54
67  70                     aaaa 2019-07-11 22:20:58 2019-07-11 22:20:58
68  71                ssssssddf 2019-07-11 22:21:01 2019-07-11 22:21:01
69  72                    asdad 2019-07-11 23:07:14 2019-07-11 23:07:14
70  73                   sadasd 2019-07-12 23:02:38 2019-07-12 23:02:38
71  74                       ss 2019-07-12 23:03:18 2019-07-12 23:03:18
72  75                    sdada 2019-07-12 23:03:25 2019-07-12 23:03:25
73  76                  sssssss 2019-07-12 23:03:42 2019-07-12 23:03:42
74  77                       ss 2019-07-12 23:03:46 2019-07-12 23:03:46
75  78                    asdad 2019-07-13 01:40:53 2019-07-13 01:40:53
76  79                    asdsd 2019-07-13 01:40:56 2019-07-13 01:40:56
77  80                    asdsa 2019-07-13 01:41:34 2019-07-13 01:41:34
78  81                   asdsad 2019-07-13 01:42:43 2019-07-13 01:42:43
79  82                   sadsad 2019-07-13 01:42:54 2019-07-13 01:42:54
80  83                      sss 2019-07-13 01:43:28 2019-07-13 01:43:28
81  84                      ddd 2019-07-13 01:43:30 2019-07-13 01:43:30

[82 rows x 4 columns]