In [67]:
import lib.mysql

df = mysql.query("SELECT * FROM message")
df.tail(2)

    id text           createdAt           updatedAt
80  83  sss 2019-07-13 01:43:28 2019-07-13 01:43:28
81  84  ddd 2019-07-13 01:43:30 2019-07-13 01:43:30

Выгрузить в csv файл. Прочитать csv файл. Перебрать массив.

In [63]:
df = mysql.query("SELECT * FROM message")

df.to_csv('tmp/test.csv', header=False, index=False)

rows = pandas.read_csv('tmp/test.csv', header=None)
for i, row in rows.tail(2).iterrows():
  print(i, row[0], row[1])

80 83 sss
81 84 ddd